@import "tailwindcss/theme.css" layer(theme);
@import "winduum/tailwindcss/theme/config/index.css" layer(theme);
@import "winduum/tailwindcss/theme/default.css" layer(theme);
@import "winduum/src/theme/dark.css" layer(theme);
@import "winduum/src/base/reset.css" layer(base);
@import "winduum/src/base/defaults.css" layer(base);

/* single imports for your components and utilities, or you can include them separately */
@import "winduum/src/components/index.css" layer(components);
@import "winduum/src/utilities/index.css" layer(utilities);

@import "winduum/tailwindcss/utilities/index.css";
@import "tailwindcss/utilities" layer(utilities);
@import "winduum/tailwindcss/variants/index.css";
@import "winduum/src/base/breakpoints.css";
@import "winduum/src/base/keyframes.css";
@import "winduum/src/base/transitions.css";

:root {
    --default-font-family: "Inter", sans-serif;
    --x-button-border-radius: var(--radius-lg);
    --x-table-border-color: transparent;
    --x-table-cell-border-inline-width: 0;
    --x-table-cell-spacing-y: 1.125rem;
    --x-table-cell-spacing-x: 1.5rem;
    --x-control-select-icon-mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" stroke="currentColor"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 8l4 4 4-4"%3E%3C/path%3E%3C/svg%3E') no-repeat 50% 50% / contain;
}